.navbar li {
    display: inline-block;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }
  
  .itemLeft {
    width: 20%;
  }
  
  .itemCenter {
      width: 50%;
  }
  
  .itemRight {
    width: 20%;
  }